<div class="game-top-bar">
  <button mat-flat-button (click)="startRound()" data-testid="start-button">
    Play
  </button>
  <div class="resource-type-container">
    <div>Resource type:</div>
    <mat-button-toggle-group
      name="resourceType"
      [hideSingleSelectionIndicator]="false"
      (change)="changeResourceType($event.value)"
    >
      @for (resourceType of resourceTypes; track resourceType) {
        <mat-button-toggle
          [value]="resourceType"
          [checked]="resourceType === (currentResourceType$ | async)"
          data-testid="resource-button"
        >
          {{ resourceType }}
        </mat-button-toggle>
      }
    </mat-button-toggle-group>
  </div>
</div>
<app-game-counter
  [round]="currentRound$ | async"
  [score]="[]"
></app-game-counter>

@for (card of cards$ | async; track $index) {
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ card.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-chip-set>
        @for (prop of card | keyvalue; track prop.key) {
          @if (prop.key !== "name") {
            <mat-chip [class.selected]="prop.key === card.commonProperty">
              {{ prop.key }}: {{ prop.value }}
            </mat-chip>
          }
        }
      </mat-chip-set>
    </mat-card-content>
  </mat-card>
}

<!--<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-chip-set>
        <mat-chip></mat-chip>
      </mat-chip-set>
    </mat-card-content>
  </mat-card>
</div>-->
